* {
    margin: 0;
    padding:0;
    box-sizing:border-box;
}
/*
1. Vị Trí
2. Màu Sắc
3. Kiểu Dáng
4. Kích Thước ( width, height )

1. Từ ngoài vào trong
2. Từ trên xuống dưới
3. Từ Trái qua phải
*/
html{
    font-family: Arial, Helvetica, sans-serif ; 
}
#header {
    background-color:black;
    height:46px;
    top:0px;
    position:fixed;

    z-index: 1;
    left:0px;
    right:0px;
   
}



#nav {
    display:inline-block;
}
#nav > li > a {
    color: black; display: block;
    
}
 #nav li a {
    text-decoration: none;
    color:white;
    
    text-transform: uppercase ;
   
}
 #nav li {
    display:inline-block;
    line-height: 46px;
    padding: 0px 26px;
    position: relative;
    
}
#nav li:hover .Subnav {
    display:block;
}
 #nav .Subnav  {
    position: absolute;
    background-color: white;
    color:black;
    left:0px;
    box-shadow: 0px 0px 10px black;
    display:none;
   
}
 #nav .Subnav a {
    color:black;
 }
#nav li:hover {
   
    background-color: #ccc;
   
} 
 #nav li:hover a{
     color:black;
 }
 #nav .Subnav li:hover {
    background-color: #ccc;
    width:100%;
 }
#header .search-button{
 float:right;
}
#header .search-button:hover {
cursor:pointer;background-color: red;
}
#header .search-icon{
color:white;
padding:0px 24px;
line-height: 46px;
}
#slider {
  position:relative;
  background: url(/C:/w3_band/assets/img/chicago.jpg) top center / cover no-repeat;
  padding-top:50%;
  margin-top:46px;
 }
 #slider .content-heading{
 font-size:24px;color:white;text-align: center;;
 }
#slider .text-content{
    font-size:24px;color:white;margin-top:25px; 
    text-align:center;
}
#content .band{width:800px;margin-left:auto;
    margin-right:auto;padding:64px 16px;}
#content .header{Font-size:30px;letter-spacing: 3px;
    text-align:center}
#content .header1{color:white;text-align:center;
    Font-size:30px;letter-spacing: 3px;}
#content .slogan{opacity:0.5;text-align:center;
    font-style: italic;font-size:15px;margin-top:25px;
    margin-bottom:15px;}
#content .para {text-align:justify;
    font-size:15px;margin-bottom:15px; }
.member .member-band{float:left;width:33.33333%;
    text-align:center;}
.member .member-name{
    font-size:15px;margin:15px 0px;
}
.member .member-img{width:154px;}


#footer {

 }













